@font-face {
  font-family: main;
  src: url("../src/fonts/Lobster_Two/LobsterTwo-Regular.ttf");
}
@font-face {
  font-family: secondary;
  src: url("../src/fonts/Kreon/Kreon-VariableFont_wght.ttf");
}

* {
  font-family: secondary;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
